**/**.pdf
**/**.zip
**/__MACOSX

**/**.class
**/**.exe
**/**.o
# **/**.txt

/ignoreMe
#/tests
/notes
/out

# Para el IDE IntelliJ IDEA
**/**.iml
/.idea

 ../../.anaconda/
../../.bash_history
../../.cache/
../../.conda/
../../.condarc
../../.continuum/
../../.gitconfig
../../.ipynb_checkpoints/
../../.ipython/
../../.jupyter/
../../.lesshst
../../.matplotlib/
../../.viminfo
../../.vscode/
../../AppData/
../../Celda_metro_pie.ipynb
../../Contacts/
../
../../Documents/
../../Downloads/
../../EDA-II-/
../../Favorites/
../../IntelGraphicsProfiles/
../../Links/
../../Music/
../../NTUSER.DAT
../../NTUSER.DAT{b38a9141-dd09-11ed-9f0f-9d35bb8c7f0d}.TM.blf
../../NTUSER.DAT{b38a9141-dd09-11ed-9f0f-9d35bb8c7f0d}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{b38a9141-dd09-11ed-9f0f-9d35bb8c7f0d}.TMContainer00000000000000000002.regtrans-ms
../../OneDrive/
../../PROYECTO-ARBOLES_BINARIOS/
../../Pictures/
../../QuickSort.png
../../Saved Games/
../../Searches/
../../Untitled.ipynb
../../Videos/
../../anaconda3/
../../celda_centigrado_farenheit.ipynb
../../celda_farenheit_grado.ipynb
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.ini
../../pseint/
